.description-container {
    background-color: var(--background-dark);
    padding: calc(var(--spacing-unit) * 1.5);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-left: 5px solid var(--primary-color);
}

@media (min-width: 992px) {
    .description-container {
        grid-area: description;
    }
}

.description-container h1 {
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.description-container span {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--secondary-color);
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}